---
layout: layouts/base.njk
templateClass: tmpl-home
---
{{ content |safe }}
<p>Massive Attack are an English electronic band formed in 1988 in Bristol, England, by Robert "3D" Del Naja, Adrian "Tricky" Thaws, Andrew "Mushroom" Vowles and Grant "Daddy G" Marshall. The band currently consists of Del Naja, Thaws and Marshall, with Shara Nelson and Horace Andy as guest vocalists.</p>

<p>The debut Massive Attack album Blue Lines was released in 1991, with the single "Unfinished Sympathy" reaching the charts and later being voted the 63rd greatest song of all time in a poll by NME.[2] 1998's Mezzanine, containing "Teardrop", and 2003's 100th Window charted in the UK at number one. Both Blue Lines and Mezzanine feature in Rolling Stone's list of the 500 Greatest Albums of All Time </p>

<p>In July 2020, Massive Attack released a political audiovisual EP called “Eutopia”.[56] The three track fusion was created across five cities during the Covid-19 global lockdown period, and was part-formed by generative algorithmic visuals from AI Art pioneer Mario Klingemann and collaborations with Algiers, Young Fathers and US poet Saul Williams.[57] The conceptual project, co-written and produced by 3D and documentary filmmaker Mark Donne featured strong arguments for global system change from UN Paris Climate Agreement author Christiana Figueres, founder of the Universal Basic Income Principle Professor Guy Standing and inventor of the US “Wealth Tax” policy Professor Gabriel Zucman.</p>