---
layout: layouts/base.njk
templateClass: tmpl-home
---
<p>On 28 November 2019, Robert Del Naja announced that Massive Attack partnered with a research centre based at the University of Manchester to explore music industry climate impact. He wrote in a column in The Guardian:[93] "the commissioning of the renowned Tyndall Centre for Climate Change Research to map the full carbon footprint of typical tour cycles, and to look specifically at the three key areas where CO2 emissions in our sector are generated." This will include information about band travel and production, audience transport and venue. "The resulting roadmap to decarbonisation will be shared with other touring acts, promoters and festival/venue owners to assist swift and significant emissions reductions." </p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/hbe3CQamF8k" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<p>"The idea is to put a record out next year", he says. "We actually get on really well at the moment because we don't spend time in the studio together", he says with a wry grin. "Me and Tricky wrote some new tracks in Paris last year, which haven't seen the light of day yet – but that was fun. They should be on the next album."

— Robert Del Naja, Metro, 23 May 2013[47]</p>

<p>In July 2020, Massive Attack released a political audiovisual EP called “Eutopia”.[56] The three track fusion was created across five cities during the Covid-19 global lockdown period, and was part-formed by generative algorithmic visuals from AI Art pioneer Mario Klingemann and collaborations with Algiers, Young Fathers and US poet Saul Williams.[57] The conceptual project, co-written and produced by 3D and documentary filmmaker Mark Donne featured strong arguments for global system change from UN Paris Climate Agreement author Christiana Figueres, founder of the Universal Basic Income Principle Professor Guy Standing and inventor of the US “Wealth Tax” policy Professor Gabriel Zucman.</p>